{% extends 'base.html' %}
{% block content %}
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Header -->
  <header class="bg-indigo-700 text-white shadow-lg p-6">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-3xl font-bold">Mess Timetable</h1>
  {% if not request.user.is_authenticated or request.user.role != 'student' %}
  <a href="{% url 'add_menu' %}" class="bg-teal-500 px-4 py-2 rounded-lg hover:bg-teal-600">+ Add Menu</a>
  {% endif %}
    </div>
  </header>

  <section class="container mx-auto px-6 py-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for item in menu %}
      <div class="bg-white rounded-2xl shadow p-6 hover:shadow-lg transition">
        <h2 class="text-2xl font-bold text-indigo-700 mb-4">{{ item.day }}</h2>
        <p><span class="font-semibold">Breakfast:</span> {{ item.breakfast }}</p>
        <p><span class="font-semibold">Lunch:</span> {{ item.lunch }}</p>
        <p><span class="font-semibold">Dinner:</span> {{ item.dinner }}</p>
        <a href="{% url 'update_menu' item.id %}" class="mt-4 inline-block text-sm text-indigo-600 hover:underline">Edit</a>
      </div>
      {% empty %}
      <p>No menu available. Please add.</p>
      {% endfor %}
    </div>
  </section>

  <footer class="bg-gray-800 text-white text-center p-4">
    <p>&copy; 2024 Campus Hostel. All rights reserved.</p>
  </footer>
{% endblock %}
